html, body {
	height: 100%;
}

#map_content {
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#map {
	width: 100%;
	height: 100%;
	padding: 0;
	text-shadow: none;
}

.ui-mobile .ui-page {
	height: 100%;
}

#nav-footer label {
	position: relative;
	top: -15px;
	display: inline;
}

#search-popup, #favorites-popup {
	width: 100%;
}